<style>
    #user-add {
        padding: 20px 25px 25px 0;
    }
    #user-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
    #user-add #data-permission-tree-block {
        border: 1px solid #eee;
        border-radius: 2px;
        padding: 3px 0;
    }
</style>
<div class="layui-fluid" id="user-add">
    <form class="layui-form" action="" lay-filter="user-add-form">
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">标题：</label>
            <div class="layui-input-block">
                <input type="text" name="memoriesName" minlength="2" maxlength="10" lay-verify="range|memoriesName"
                       autocomplete="off" class="layui-input">
            </div>
            <input type="text" id="memoriesUrl" name="memoriesUrl" hidden="hidden">
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图片：</label>
            <div class="layui-input-block">
                <button type="button" class="layui-btn" id="test1">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
            </div>
        </div>

        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="user-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script>
    layui.use(['febs', 'form', 'formSelects', 'validate', 'treeSelect', 'eleTree','upload'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            form = layui.form,
            validate = layui.validate,
            upload = layui.upload;


        form.verify(validate);
        form.render();

        formSelects.render();




      form.on('submit(user-add-form-submit)', function (data) {
       // alert( JSON.stringify(data.field));
        if(isEmpty(data.field.memoriesUrl)){
          layer.msg('首页轮播图片必须上传哦！', function(){
          //关闭后的操作
          });
          return false;
        }
        febs.post(ctx + 'memories/add',data.field, function () {
          layer.closeAll();
          $('#febs-user').find('#query').click();
        });
        return false;
      });
      //执行实例
      var uploadInst = upload.render({
         elem: '#test1', //绑定元素
         accept: 'file',
         url: ctx + 'memories/uploadSource' //上传接口
        ,done: function(res){
          $("#memoriesUrl").val(res.imageUrl);
        }
        ,error: function(){
          //请求异常回调
        }
      });
    });



    function isEmpty(obj){
      if(typeof obj == "undefined" || obj == null || obj == ""){
        return true;
      }else{
        return false;
      }
    }
</script>
